h1{
	color: #5C6AC4;
}

p1 {
  padding: 10px;
	color: white;
	background-color: #5C6AC4;
	width: fit-content;
}
h2{
  color: red;
}
p2{

padding: 1px;
	color: white;
	background-color: red;
	width: fit-content;
body { background-image: url("https://t3.ftcdn.net/jpg/04/74/05/94/360_F_474059464_qldYuzxaUWEwNTtYBJ44VN89ARuFktHW.jpg");
}
